.picture-page-container {
    background-image: url("../../images/galaxy-background.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-content {
    background-color: white;
    border-radius: 15px;
    width: 50%;
    height: 50%;
}

.profile-picture-image {
    width: 40%;

}

.user-picture-input input {
    display: none;
}
